body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    background-color: #B8B0BF;
    color: #858DA6;
    margin: 5vh 5vw 5vh 5vw;
}
h1 {
    color: #364C59;
    font-family: "Madimi One", sans-serif;
}
h2, dt {
    color: #495F73;
    font-family: "Bebas Neue", sans-serif;
}
h3 {
    color: #566D8C;
    font-family: "DM serif display", serif;
}
blockquote {
    color: #B8B0BF;
    margin: 20px 50px 20px 50px;
    line-height: 2rem;
    padding: 2rem;
    border: 1rem solid #364C59;
    border-radius: 2rem;
    background-color: #495F73;
}
p, dd {
    color: #858DA6;
    font-variant: small-caps;
    line-height: 1.5rem;
}
.attribution {
    font-size: 0.8rem;
}
a {
    color: #6688dd;
}
a:hover {
    color: #224499;
    text-shadow: 0.25rem 0.25rem 0.1rem #777777;
}
footer {
    text-align: right;
}